@import url('https://fonts.googleapis.com/css?family=Monoton');

body {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

h1.page-title {
  font-family: 'Monoton', sans-serif;
  color: #ffffff;
  font-size: 100px;
  font-weight: 400;
}

.celebration-type {
  border-radius: 50%;
  height: 250px;
  width: 250px;
  border: 6px solid #ffffff;
  overflow: hidden;
}

.celebration-type-image {
  background-position: top right;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  width: 100%;
  height: 100%;
  transition: transform 500ms ease-in-out;
}

.celebration-type-image:hover {
  transform: scale(1.2);
  cursor: pointer;
}

.celebration-type-title { 
  font-weight: 600;
  color: #ffffff;
  margin-top: 10px;
}